# See http://help.github.com/ignore-files/ for more about ignoring files.

# concepts
# /apps/Test
/geo/IMGolf

# not relevant
/hyd/*.csv
/hyd_v131/*.csv

# all submaps (20240224) (20231016)
archive/
temp/ 

node_modules_org
# system files

