# See http://help.github.com/ignore-files/ for more about ignoring files.

# concepts
/apps/Test
/geo/IMGolf

# not relevant
/hyd/*.csv
/hyd_v131/*.csv
/geo/Archief
/apps/Archief

node_modules_org
# system files

